@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: flex;    
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

/* My prtafolio */
.header {
    padding: 30px;
    text-align: center;
    background-color: #333;
    color: #fff;
}

nav{
    max-width: 1200px;
    max-height: 120px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    z-index: 1000;
    position: sticky; /* Cambiar a 'sticky' */
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
}

.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #1e40af;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4 {
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
}

header .content h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.language {
    width: 200;
    height: 100px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.language img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.language h3 {
    font-size: 16px;
    margin: 0;
}

header .content p {
    margin-bottom: 2rem;
    color: #ccc;
}

header .image {
    position: relative;
}

.img {
    border-radius: 15px 50px;
    width: 400px;
    height: 350px;
    object-fit: cover;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.img:hover {
    background-color: #323232;
    border-color: #fff;
}

section .header-section {
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact-info h3 {
    margin-bottom: 10px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 5px;
}

.contact-info ul li i {
    margin-right: 5px;
}

.footer-content p {
    margin-top: 10px;
    font-size: 14px;
}

.built-with {
    margin-top: 30px;
}

.built-with h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

.built-with ul {
    list-style: none;
    padding: 0;
}

.built-with ul li {
    color: #ccc;
    font-size: 16px;
    margin-bottom: 5px;
}

/* Section of projects */
.projects {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.projects .card img {
    width: 250px;
    height: auto;
}

.projects .card {
    background-color: #27272a;
    width: 300px;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.projects .card:hover {
    background-color: #323232;
    border-color: #fff;
}

.projects .card h2 {
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.projects .card p {
    color: #ccc;
    margin-bottom: 1rem;
}

.projects .card a {
    color: #fff;
    transition: all 0.3s ease;
}

.projects .card a:hover {
    color: #1e40af;
}

.icon {
    width: 250px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.content .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #383e45;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.content .item i {
    font-size: 34px;
    color: #fff;
}

.email {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 260px;
}

.btn-copy {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #383e45;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 34px;
    color: #fff;
}

.skills {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}

.skills .left {
    max-width: auto;
}

.skills .left .info h3 {
    color: #fff;
    font-size: 30px;
    /* margin-bottom: 20px; */
}

.skills .left .info p {
    color: #ccc;
    font-size:  15px;
}

.skills .right {
    width:  auto;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.skills .right .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383e45;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.skills .right .item i {
    font-size: 34px;
    color: #fff;
}


/* Card contact */
.form {
    width: auto;
}

.contact {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    width: auto;
}

.contact .info h3 {
    color: #fff;
    font-size: 20px;
    /* margin-bottom: 20px; */
}

.container .card img {
    width: 250px;
    height: auto;
}

.container .card {
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.container .card:hover {
    background-color: #27272a;
    border-color: #fff;
}

.container .card h2 {
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.container .card p {
    color: #ccc;

    margin-bottom: 1rem;
}

.container .card a {
    color: #fff;
    transition: all 0.3s ease;
}

.contact .card a:hover {
    color: #1e40af;
}

.icon {
    width: 250px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.contact .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #383e45;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.contact .item i {
    font-size: 34px;
    color: #fff;
}

/* Form */
.input-container {
    height: 50px;
    width: 500px;
    position: relative;    
}

.message-container {
    position: relative;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 10px;
}

.ic3 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    width: 100%;
    padding: 10px;
}

#firstname {
    width: 500px;
}

#email {
    width: 500px;
}

.cut {
    background-color: #27272a;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #fff;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}
  
.submit:active {
    background-color: #06b;
}

@media (width < 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }

    .skills{
        justify-content: space-between;
        gap: 20px;
    }

    .skills .left{
        width: 500px;
    }

    .skills .left .info h3{
        font-size: 22px;
    }

    .skills .left .info p{
        font-size: 12px;
    }

    #firstname {
        width: relative;
    }
    
    #email {
        width: relative;
    }

}

@media (width < 600px){
    header .image::before{
        display: none;
    }

    .projects {
        grid-template-columns: repeat(1, 1fr);
    }

    footer{
        grid-template-columns: 1fr 150px;
    }

    .skills{
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills .right{
        justify-content: space-between;
    }

    .skills .left .info h3{
        font-size: 20px;
    }
    
}

/* Para dispositivos con un ancho m치ximo de 768px */
@media (max-width: 768px) {
    .contact {
        flex-direction: column; /* Cambia el dise침o a una columna */
        padding: 0 20px; /* Reduce el relleno horizontal */
    }

    .input-container {
        width: 100%;
        max-width: 100%; /* Cambia el ancho m치ximo a 100% para adaptarse al ancho del contenedor */
    }

    .input {
        font-size: 16px; /* Reduce el tama침o de la fuente */
    }

    #firstname {
        width: 100%;
        max-width: 100%;
    }

    #email {
        width: 100%;
        max-width: 100%;
    }

    .submit {
        width: 100%;
        max-width: 100%;
    }
}
